.venv/
ecomitra/.venv/
ecomitra/.env
ecomitra/.logs/
ecomitra/.tmp/
ecomitra/.vercel-deploy-temp/
ecomitra/.vercel/
**/__pycache__/
*.pyc
ecomitra/backend/uploads/*
!ecomitra/backend/uploads/photorealistic-water-bottle_23-2151049030.avif

.vercel
